@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');

html {
    font-family: "Albert Sans", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.background {
    background-color: #f4f4f9;
    min-height: 100vh;
}

.frame {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.frame ul {
    margin-top: 0;
    margin-right: 30px;
}

.title {
    color: #003366;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.subtitle {
    color: #006699;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

p,
li {
    color: #333;
    line-height: 1.6;
}

.contact,
.links,
.skills,
.hobbies,
.languages {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.section-title {
    color: #004080;
    border-bottom: 2px solid #004080;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.17em;
    font-weight: bold;
}

.item-container {
    background-color: #e9edfa;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.item-container-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.item-container p {
    color: #333;
    margin: 0;
}

.education-item {
    background-color: #ccf2ff;
}