@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Albert Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}